/* body,html{
    height: 100%;
} */

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


.nav-wrapper {
    background-color: #38598b;
    box-shadow: 3px 3px 3px black;
}

.name, .desktop > li {
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
    text-shadow: 5px 5px 5px black;
}

section,body,html {
    /* background-size: 100vh; */
    height: 100%;
    color: white;
    box-sizing: border-box;
}

.container {
    padding-top: 10%;
    padding-bottom: 10%;
}

section{
    padding-top:2%;
}

#section1 {
    background-color: #113f67;
    padding-top:0;
}
#img1{
    background-image: url("../images/IMG_6004.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
#about_card {
    margin-top: 10rem;
    background-color: #e7eaf6f7;
}

#section2 {
    background-color: #34699a;
}

#section3 {
    background-color: #408ab4;
}

#section4 {
    background-color: #65c6c4;
}

.pl,.sub-head{
    margin-left: 5%;
}

.pr {
    margin-right:5%;
}

/* .sub-head {
    margin-left: 2%;
} */

.card-panel{
    background: #e7eaf6;
    color: #38598b!important;
}

.card-title {
    background: #e7eaf6;
    color: #38598b!important;
    box-shadow: 0px 4px 10px #e7eaf6;
    width: 100%!important;
    padding: 0!important;
}

.abs {
    position: absolute;
}

.card-action {
    padding-bottom: 1px!important;
}

button {
    width: 100%;
}

p {
    overflow: auto;
    color: #38598b;
}

/* .port-card {
    height: 60px;
} */

img {
    box-shadow: 0px 4px 10px #38598b;
    height: 190px;
}

.project_card:hover {
    animation-name: pulse;
    animation-duration: 2.5s;
    cursor: -webkit-grab;
    animation-iteration-count: infinite;
}

.indicators {
    bottom: -10px!important;
}

.indicator-item.active {
    background-color: #38598b !important;
}

.carousel-fixed-item, .with-indicators {
    bottom: 40px!important;
}

.clear_card {
    background-color: #0000;
    -webkit-box-shadow: 0;
    box-shadow: 0px 0px 0px 0px;
}

.resume_card    {
    height: 70vh;
}

@keyframes pulse {
    0%   {transform: scale(1.0); box-shadow: 0px 0px 0px}
    38%   {transform: scale(1.0); box-shadow: 0px 0px 0px}
    40%  {transform: scale(1.10); box-shadow: 10px 10px 10px}
    42%  {transform: scale(1.0); box-shadow: 0px 0px 0px}  
    50%  {transform: scale(1.0); box-shadow: 0px 0px 0px}
    52% {transform: scale(1.10); box-shadow: 10px 10px 10px}
    55% {transform: scale(1.0); box-shadow: 0px 0px 0px}
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: initial; 
  }

  @media screen and (max-width: 500px) {
    .name{
        font-size: .9rem;
    }
  }