/* body,html{
    height: 100%;
} */

@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


.nav-wrapper {
    background-color: #38598b;
    box-shadow: 3px 3px 3px black;
}

.name, .desktop > li, .abs {
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
    text-shadow: 5px 5px 5px black;
}

section,body,html {
    /* background-size: 100vh; */
    height: 100%;
    color: white;
    box-sizing: border-box;
}

.about_container, .lower_container {
    padding-top: 10%;
    padding-bottom: 10%;
}

section{
    padding-top:2%;
}

#section1 {
    background-color: #113f67;
    padding-top:0;
}
#img1{
    background-image: url("../images/IMG_6004.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: right 54% top 50px;
}

#about_card {
    margin-top: 10rem;
    background-color: #e7eaf6f7;
}

#section2 {
    background-color: #34699a;
}

.project_btn {
    margin-bottom: 5px;
    background-color: #38598b;
}

#section3 {
    background-color: #408ab4;
}

#section4 {
    background-color: #65c6c447;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/turntable.png) no-repeat;
    background-size: cover; 
}

#jams_card {
    margin-top: 2rem;
    background-color: #e7eaf6b3;
}


.pl,.sub-head{
    margin-left: 5%;
}

.pr {
    margin-right:5%;
}

/* .sub-head {
    margin-top: 2%;
} */

.card-panel{
    background: #e7eaf6;
    color: #38598b!important;
}

.card-title {
    background: #e7eaf6;
    color: #38598b!important;
    box-shadow: 0px 4px 10px #e7eaf6;
    width: 100%!important;
    padding: 0!important;
}

.abs {
    position: absolute;
    margin-top: 5rem;
}

.card-action {
    padding-bottom: 1px!important;
}

button {
    width: 100%;
}

p {
    overflow: auto;
    color: #38598b;
}

/* .port-card {
    height: 60px;
} */

img {
    box-shadow: 0px 4px 10px #38598b;
    height: 190px;
}

.project_card {
    height: 410px;
}

.project_card:hover {
    animation-name: pulse;
    animation-duration: 2.5s;
    cursor: -webkit-grab;
    animation-iteration-count: infinite;
}

.card-content {
    height: 150px;
    overflow: auto
}

.indicators {
    bottom: -10px!important;
}

.indicator-item.active {
    background-color: #38598b !important;
}

.carousel-fixed-item.with-indicators {
    bottom: 40px!important;
}

.clear_card {
    background-color: #0000;
    -webkit-box-shadow: 0;
    box-shadow: 0px 0px 0px 0px;
}

.resume_card    {
    height: 70vh;
}

.media_small {
    display: none;
}



@keyframes pulse {
    0%   {transform: scale(1.0); box-shadow: 0px 0px 0px}
    38%   {transform: scale(1.0); box-shadow: 0px 0px 0px}
    40%  {transform: scale(1.10); box-shadow: 10px 10px 10px}
    42%  {transform: scale(1.0); box-shadow: 0px 0px 0px}  
    50%  {transform: scale(1.0); box-shadow: 0px 0px 0px}
    52% {transform: scale(1.10); box-shadow: 10px 10px 10px}
    55% {transform: scale(1.0); box-shadow: 0px 0px 0px}
  }

  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: initial; 
  }

  /* Media Queries  */
  /* @media (max-height: 179px){
    .widget-controls {
        padding-left: 180px!important;
    }
  } */

@media screen and (max-width: 1030px) {
    .abs {
        margin-top: 5rem;
    }
    .lower_container {
        margin-top:15%;
    }

    .resume_card {
        height: 45vh;
        overflow:hidden;
    }

    .carousel {
        height: 45vh;
    overflow-y: auto;
    }

    .media_big {
        display: none;
    }

    .media_small {
        display: block;
    }
    .indicators {
        bottom: 90%!important;
    }
    .pdf_button {
        width: 50%;
        left: 25%;
    }
    
}

  @media screen and (max-width: 500px) {
    .name{
        font-size: .9rem;
    }
    .abs {
        margin-top: 5rem;
    }

    #about_card {
        height: 51vh;
        overflow: auto;
    }
    #img1{
        background-image: url("../images/IMG_6004.jpg");
        background-size: contain;
        /* height: 100vh; */
    }
    #section2 {
        height: 200vh;
    }
    .lower_container {
        margin-top:40%;
    }
    .project_card {
        height: 50vh;
        overflow: scroll;
    }

    .card-content {
        overflow: hidden;
    }

    #section3,#section4 {
        height: 115vh;
    }s
    .resume_card {
        height: 80vh;
        overflow:hidden;
    }

    .carousel {
        height: 80vh;
    overflow-y: scroll;
    }

    .media_big {
        display: none;
    }

    .media_small {
        display: block;
    }
    .indicators {
        bottom: 90%!important;
    }

    .pdf_button {
        width: 96%;
        left: 3%;
    }

    video {
        display:none;
    }

    #section4 {
        background-color: #65c6c4;
    }

    #jams_card {
        background-color: #e7eaf6;
    }
  }

 